.data-button{
    display: inline-block;
    width: calc(100% - 118px);
    height: 117px;
    vertical-align: top;
    background-color: #fff;
    background: url("../../../assets/img/data-button-arr.png") no-repeat top 50% right 29px;
    border-bottom: solid 1px #e7e8ef;
    padding: 0 30px 0 0;
}
@media screen and (max-width: 580px){
    .data-button{
        height: 90px;
        width: calc(100% - 93px);
        background: url("../../../assets/img/data-button-arr.png") no-repeat top 50% right 10px;
    }
}
.data-button .title{
    color: #abadb6;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.data-button .main-text{
    color: #292b3a;
    font-size: 38px;
    text-align: left;
}
@media screen and (max-width: 640px){
    button.data-button .title{
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 0px;
    }
    button.data-button .main-text{
        font-size: 30px;
    }
}
@media screen and (max-width: 480px){
    button.data-button .title{
        font-size: 16px;
        text-transform: lowercase;
    }
    button.data-button .main-text{
        font-size: 21px;
    }
}
