/*-------------------------- popup car-type -----------------------*/

.route-payment .left-popup-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    min-width: 320px;
    max-width: 767px;
    height: 100%;
    z-index: 4;
}


.route-payment .left-popup-menu.car-type-popup{
    transform: translateX(100%);
    z-index: 100000;
    transition: 0.15s ease transform;
}

.car-type-popup .login-submit{
    height: 50px;
}

.route-payment .left-popup-menu.car-type-popup--open{
    transform: translateX(0);
    transition: 0.3s ease transform;
}

.route-payment .left-popup-menu input[type='radio']{
    display: none;
}

.route-payment .left-popup-menu.car-type-popup + .black-bg{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}

.route-payment .left-popup-menu.car-type-popup--open + .black-bg{
    display: block;
    opacity: 0;
    animation: ease 0.15s bg;
    animation-fill-mode: forwards;
}

@keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

.route-payment .left-popup-menu-content{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top:0;
    right: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 650px) {
    .route-payment .left-popup-menu-content{
        width: 100%;
    }
}
.route-payment .flex-top-wrapper{
    height: calc(100vh - 140px);
    overflow: scroll;
}

.route-payment .popup-title{
    font-size: 30px;
    color: #abadb6;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
}

@media screen and (max-width: 510px) {
    .route-payment .popup-title{
        font-size: 19px;
        margin-top: 20px;
    }
}

.route-payment .car-type-popup label{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 20px 0;
    border: solid 2px #dbdde7;
    background-color: #fff;
    border-radius: 9px;
    font-size: 25px;
    color: #babcc8;
    font-weight: normal;
    padding: 5px;
}
.route-payment .car-type-popup label .img-adaptive-wrapper{
    width: 28.4%;
    margin: 15px 15px 15px 15px;
}
@media screen and (max-width: 450px){
    .route-payment .car-type-popup label .img-adaptive-wrapper{
        width: 35%;
        margin: 5px 8px 5px 0px;
    }
}
.route-payment .car-type-popup label img{
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 650px) {
    .route-payment .car-type-popup label{
        width: 100%;
    }
}
@media screen and (max-width: 380px) {
    .route-payment .car-type-popup label{
        font-size: 21px;
    }
}

.route-payment .car-type-popup label p{
    font-size: 24px;
    color: #abadb6;
    margin-top: 5px;
}
@media screen and (max-width: 650px) {
    .route-payment .car-type-popup label p{
        font-size: 16px;
    }
}


.route-payment .car-type-popup input:checked + label{
    background: url("../../../assets/img/car_class_mark.png") no-repeat right 3% top 13%;
    border: solid 2px #7664ca;
    color: #7664ca;
}

.route-payment .flex-bottom-wrapper{
    width: 100%;
    margin-bottom: 0;
}

