
.order-wp{
    padding: 0 15px;
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.order-wp .entrance{
    width: 100px;
    margin: 0 0 0 15px;
    text-align: center;
    padding: 0 10px;
    line-height: 38px;
    flex-shrink: 0;
    color: black;
    font-size: 16px;
    text-indent: 0;
}

.order-econom img,.dop-services img{
    display: none;
}

.order-econom-active img, .dop-services-active img{
    display: inline-block;
    width: 20px;
    margin-left: 10px;
}

.dop-services-active img{
    margin: 0;
}

.dop-services-active span{
    display: none;
}

.order-wp .order-input{
    width: 100%;
    font-size: 16px;
}

.comment-text{
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-top: 1px solid #ced6eb;
    border-bottom: 1px solid #ced6eb;
    outline: 0;
    height: 59px;
    padding: 15px 17px;
    resize: none;
    font-size: 16px;
    color: #ced6eb;
}

.order-econom{
    background-color: #ffac00;
    border-radius: 5px;
    color: #fff;
    border: 0;
    font-size: 16px;
    border: 1px solid #ffac00;
}

.dop-services,
.order-econom {
    text-align: center;
    margin: 20px 10px 30px 10px;
    width: 40%;
    display: inline-block;
    font-size: 16px;
    padding: 12px 0;
}

.order-econom {
    background-color: #ffac00;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.order-econom-active{
    border: 1px solid #ffac00;
    color: #ffac00;
    background-color: transparent;
}

.dop-services{
    font-size: 16px;
    background-color: #710fc9;
    border-radius: 5px;
    color: #fff;
    border: 0;
    border: 1px solid #710fc9;
}

.dop-services-active{
    border: 1px solid #710fc9;
    background-color: transparent;
    color: #710fc9;
    display: flex;
    justify-content: space-evenly;
}

.btn-wp{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.price {
    margin: 30px 0;
    font-size: 16px;
    color: #ced6eb;
    text-align: left;
    padding: 0 15px;
}

.price-count{
    color: #710fc9;
    font-size: 32px;
    font-weight: 900;
    margin-top: 10px;
}

.price-count span{
    color: #ffab04;
    margin-left: 10px;
    font-size: 32px;
}

.numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    align-items: flex-end;
}

.numbers .minus, .numbers .count, .numbers .plus {
    display: inline-block;
    font-size: 45px;
    color: #fff;
    width: 80px;
    height: 70px;
    border: none;
}

.numbers .minus, .numbers .plus {
    background-color: #e9ecf2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.numbers .count{
    text-align: center;
    color: #e9ecf2;
    font-size: 45px;
}

.numbers-active .count span{
    font-size: 45px;
    color: #ffab04;
}

.numbers-active .minus{
    display: inline-block;
    font-size: 45px;
    color: #fff;
    width: 80px;
    height: 70px;
    border: none;
    background-color: #f24841;

}

body .react-select__control{
    background-color: transparent;
    border: 1px solid #ced6eb;
}

body .react-select__control:hover{
    border: 1px solid #ced6eb;
}

body .react-select__control--is-focused{
    box-shadow: none;
    border: 1px solid #ced6eb;
}

.pay-type .select__control {
    background-color: transparent;
    border: 1px solid #ced6eb;
    border-width: 1px 0 1px 0;
    border-radius: 0;
}


.pay-type .select__control:hover{
    background-color: transparent;
    border: 1px solid #ced6eb;
}


body .select__control--is-focused{
    box-shadow: none;
    border: 1px solid #ced6eb;
}

body .select__dropdown-indicator{
    display: none;
}

body .select__indicators{
    display: none;
}
.numbers-active .plus{
    display: inline-block;
    font-size: 45px;
    color: #fff;
    width: 80px;
    height: 70px;
    border: none;
    background-color: #00b600;
}

.numbers-active .plus{
    background-color: #00b600
}

.to-order {
    width: 100%;
    background-color: #710fc9;
    text-align: center;
    display: inline-block;
    padding: 25px 0;
    font-size: 16px;
    color: #ffffff;
    font-size: 24px;
    border: none;
}

.plus-dot {
    font-size: 16px;
    text-align: right;
    color: #710fc9;
    margin: 5px 0;
    background-color: transparent;
    border: 0px;
    float: right;
}

.plus-dot:focus{
    outline: 0px;
}

.plus-dot-invisible{
    visibility: hidden;
}

