
.riding .calc-content.without-footer{
    background: url("../../../assets/img/background_map.png");
    padding-bottom:0;
    padding-top: 0;
}

@media screen and (max-width: 430px){
    .riding .riding-content{
        padding-bottom: 7px;
    }
}

@media screen and (max-height: 784px){
    .riding .riding-content{
        height: 100%;
        padding-top: 7px;
    }
}