
.route-payment .card-payment-popup{


    transform: translateX(100%);
    transition: 0.15s ease transform;
    z-index: 10000;
    position: absolute;
}

.route-payment .card-payment-popup.card-payment-popup--open{
    transform: translateX(0);
    transition: 0.3s ease transform;
}

.route-payment .flex-top-wrapper{
    height: calc(100vh - 130px);
    overflow: scroll;
}

.route-payment .card-payment-popup label{
    display: block;
    border: solid 2px #dbdde7;
    border-radius:10px;
    font-size: 25px;
    width: 100%;
    color:#babcc8;
    margin: 0 0 25px 0;

    padding: 13px 0px 15px 86px;
}


.route-payment .card-payment-popup + .black-bg{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}


.route-payment .card-payment-popup.card-payment-popup--open + .black-bg{
    display: block;
    opacity: 0;
    animation: ease 0.15s bg;
    animation-fill-mode: forwards;
}

@keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}



@media screen and (max-width: 650px) {
    .route-payment .card-payment-popup label{
        padding-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .route-payment .card-payment-popup label{
        font-size: 21px;
        padding: 13px 38px 13px 69px;
    }
}

.route-payment .card-payment-popup input#cash + label{
    background: url("../../../assets/img/purse_gray.png") no-repeat left 17px top 50%;
}
.route-payment .card-payment-popup input.first-card + label{
    background: url("../../../assets/img/card_gray.png") no-repeat left 17px top 50%;
}

.route-payment .card-payment-popup input.first-card + label:first-letter {
    text-transform: uppercase;
}

.route-payment .card-payment-popup input#cash:checked + label{
    background: url("../../../assets/img/purse_purple.png") no-repeat left 17px top 50%, url("../../../assets/img/car_class_mark.png") no-repeat right 4% top 50%;
    border: solid 2px #7664ca;
    color: #7664ca;
}
.route-payment .card-payment-popup input.first-card:checked + label{
    background: url("../../../assets/img/card_purple.png") no-repeat left 17px top 50%, url("../../../assets/img/car_class_mark.png") no-repeat right 4% top 50%;
    border: solid 2px #7664ca;
    color: #7664ca;
}

.route-payment .button-add-card{
    display: block;
    height: 72px;
    width: 78.87%;
    border-radius: 35px;
    margin: 23px auto 0;
    color: #7664ca;
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 50px;
    background: url("../../../assets/img/button_purse.png") no-repeat left 12% top 50%;
    background-color: #ebe8f7;
}
@media screen and (max-width: 650px){
    .route-payment .button-add-card{
        height: 50px;
    }
}

.route-payment .flex-bottom-wrapper button{
    width: 100%;
}

@media screen and (max-width: 500px){
    .route-payment .button-add-card{
        font-size: 18px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 389px){
    .route-payment .button-add-card{
        background: none;
        padding-left: 0;
        background-color: #ebe8f7;
    }
}

