.trip-history .trip-information{
    border-bottom: solid 2px #e7e8ef;
    padding: 30px 32px 40px 51px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}
.trip-history .date,
.trip-history .time{
    display: inline;
    font-size: 26px;
    color: #a7a8af;
}
.trip-history .route{
    margin: 11px 0 0 0;
}
.trip-history .date-time{
    margin: 7px 0 0 0;
}

.trip-history .date{
    padding: 0 42px 0 0 ;
}

.trip-history .time{
    background: url("../../../assets/img/clock.png") no-repeat top 50% left;
    padding: 0 0 0 39px;
}

.trip-history .route-point-a,
.trip-history .route-point-b{
    font-size: 32px;
}

.trip-history .route-point-a{
    margin: 0 0 11px 0;
}
.trip-history span.dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #bb8ae5;
    border-radius: 50% ;
    margin: 0 20px 0 0;
    position: relative;
}
.trip-history span.dot p.dashed-line{
    position: absolute;
    top: -19px;
    left: 5px;
    height: 29px;
    border: dashed 1px #ddc4f2;
}

.trip-history .price p{
    padding: 0;
    margin: 0 0 27px 0;
    font-size: 34px;
    font-weight: 600;
}

.trip-history .price{
    text-align: right;
    width: 145px;
}
.trip-history .price img{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 650px){
    .trip-history .trip-information{
        padding: 25px 25px 25px 25px;
    }
    .trip-history .date,
    .trip-history .time{
        font-size: 18px;
    }
    .trip-history .time{
        -webkit-background-size: 16px;
        background-size: 16px;
        padding: 0 0 0 21px;
    }
    .trip-history .route-point-a,
    .trip-history .route-point-b{
        font-size: 25px;
    }
    .trip-history .price p{
        margin: 0 0 20px 0;
        font-size: 34px;
        font-weight: 600;
    }
    .trip-history .price img{
        width: 45px;
        height: 45px;
    }
    .trip-history span.dot{
        width: 10px;
        height: 10px;
        margin: 0 12px 0 0;
    }
    .trip-history span.dot p.dashed-line{
        top: -14px;
        left: 4px;
        height: 32px;
    }
}

@media screen and (max-width: 500px){
    .calc-content.without-footer{
        padding: 15px 0 0 0;
    }
    .trip-history .trip-information{
        padding: 12px 22px 6px 22px;
    }
    .trip-history .date-time {
        margin: 0 0 0 0;
    }
    .trip-history .date,
    .trip-history .time{
        font-size: 16px;
    }
    .trip-history .date{
        padding: 0 18px 0 0;
    }
    .trip-history .time{
        -webkit-background-size: 16px;
        background-size: 16px;
        padding: 0 0 0 20px;
        white-space: nowrap;
    }
    .trip-history .route{
        margin: 1px 0 0 0;
    }
    .trip-history .route-point-a,
    .trip-history .route-point-b{
        font-size: 18px;
    }
    .trip-history .route-point-a {
        margin: 0 0 0 0;
    }
    .trip-history .price{
        text-align: right;
        width: 80px;
    }
    .trip-history .price p{
        margin: 0 0 6px 0;
        font-size: 18px;
    }
    .trip-history .price img{
        width: 45px;
        height: 45px;
    }

    .trip-history span.dot p.dashed-line{
        top: -7px;
        height: 12px;
    }
}