.left-popup-menu.additional-services{
    transform: translateX(100%);
    transition: 0.15s ease transform;
    z-index: 10000;
}

.left-popup-menu.additional-services--open{
    transform: translateX(0);
    transition: 0.3s ease transform;
}


.left-popup-menu.additional-services + .black-bg{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}


.left-popup-menu.additional-services--open + .black-bg{
    display: block;
    opacity: 0;
    animation: ease 0.15s bg;
    animation-fill-mode: forwards;
}

@keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

.route-payment .additional-services input{
    display: none;
}
.route-payment .additional-services input + label{
    display: block;
    height: 48px;
    font-size: 32px;
    padding-left: 40px;
    line-height: 44px;
    background: url("../../../assets/img/add_serv_inp_bgr.png") no-repeat top 50% left;
}
.route-payment .additional-services input:checked + label{
    background: url("../../../assets/img/add_serv_inp_bgr_active.png") no-repeat top 50% left;
}
@media screen and (max-width: 600px){
    .route-payment .additional-services input + label{
        height: 48px;
        font-size: 25px;
    }
}
@media screen and (max-width: 510px){
    .route-payment .additional-services input + label{
        height: 44px;
        font-size: 19px;
        -webkit-background-size: 28px;
        background-size: 28px;
    }
}
@media screen and (max-width: 510px){
    .route-payment .additional-services input:checked + label{
        -webkit-background-size: 28px;
        background-size: 28px;
    }
}