.order-items-wp{
    background: #f6f6f6;
    display: inline-block;
    width: 100%;
}

.order-item{
    margin: 10px;
    background: #ffffff;
    display: block;
    letter-spacing: 1px;
    padding: 20px 15px;
    align-items: center;
}

.order-items-wp .flex-wp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-item .address, .order-item .time, .order-item .distance{
    font-size: 14px;
}
.order-item .address{
    padding-left: 25px;
    position: relative;
}
.order-item .address p:first-child:before{
    content: '';
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    background: #710fc9;
    left: 0;
    top: 22px;

}

.order-item .address p:last-child:before{
    content: '';
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    background: #ffab04;
    left: 0;
    bottom: 19px;
}

.order-item .address:before{
    content: '';
    position: absolute;
    transform: rotate(180deg);
    width: 3px;
    background: linear-gradient(to top, #710fc9, #ffab04);
    left: 5.5px;
    top: 32px;
    height: 33px;
}

.order-item .address p{
    margin: 20px 0;
}
.order-item .distance{
    color: #3ab72d;
    margin-bottom: 4px;
}

.order-item .time{
    color: #6217c5;
}

.order-item .time-wp{
    display: flex;
    flex-flow: column;
    margin-right: 5px;
    white-space: nowrap;

}
.order-item .price{
    color: #ffab04;
    padding: 0;
    font-size: 24px;
    white-space: nowrap;
}

.order-item button{
    border: 1px solid #6217c5;
    background: #6217c5;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 11px;
    letter-spacing: 1px;
    width: 48%;
}

.order-item .torg{
    background-color: transparent;
    color: #6217c5;
}

.buttons-wp{
    display: flex;
    justify-content: space-around;
}