
.route-payment.container{
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}


.route-payment .route-payment-content{
    padding-top: 20px;
    height: calc(100vh - 231px);
    overflow: scroll;
}
/*
@media screen and (max-height: 630px){
    .route-payment .route-payment-content{
        padding-bottom: 0;
        overflow: visible;
    }
}*/


.route-payment .content-data-button-wrapper{
    font-size: 0;
    vertical-align: top;
    position: relative;
}

.route-payment .content-data-button-wrapper .badge{
    width: 118px;
    height: 117px;
    display: inline-block;
}


.route-payment .content-data-button-wrapper .badge-a{
    background: url("../../../assets/img/route-a-bgr.png") no-repeat top 50% left 50%;
}
.route-payment .content-data-button-wrapper .badge-b{
    background: url("../../../assets/img/route-b-bgr.png") no-repeat top 50% left 50%;
}
.route-payment .content-data-button-wrapper .badge-c{
    background: url("../../../assets/img/route-c-bgr.png") no-repeat top 50% left 50%;
}
.route-payment .content-data-button-wrapper .pen{
    background: url("../../../assets/img/pen.png") no-repeat top 50% left 50%;
}
.route-payment .content-data-button-wrapper .card{
    background: url("../../../assets/img/card.png") no-repeat top 50% left 50%;
}
@media screen and (max-width: 580px){
    .route-payment .content-data-button-wrapper .badge {
        width: 93px;
        height: 93px;
        -webkit-background-size: 40px;
        background-size: 40px;
    }
}

.route-payment .number-of-route{
    z-index: 100;
    display: block;
    width: 62px;
    height: 62px;
    background: url("../../../assets/img/plus-route.png") no-repeat top 50% left 50%;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: -28px;
    right: 85px;
    border-radius: 50%;
}


.route-payment .number-of-route.close{
    background: url("../../../assets/img/plus-route-close.png") no-repeat top 50% left 50%;
}

@media screen and (max-width: 580px){
    .route-payment .number-of-route{
        width: 50px;
        height: 50px;
        right: 42px;
        bottom: -19px;
    }
}

.route-payment .additional-buttons{
    margin: 38px auto;
    display: flex;
    justify-content: space-between;
    width: 92%;
}
.route-payment .shadowed-button{
    width: 47%;
    height: 132px;
    background-color: #fff;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}
.route-payment .shadowed-button-title{
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #abadb6;
    margin-bottom: 8px;
    font-weight: 600;
}
.route-payment .shadowed-button-text{
    font-size: 32px;
    color: #9c64e2;
}



.route-payment footer{
    padding-bottom: 60px;
    width: 100%;
    background-color: #fff;
    transition: height 0.3s ease;
    box-shadow: 0px 5px 10px #e7e8ef;
    border-top: solid 1px #e7e8ef;
}

.route-payment .footer-text{
    text-align: center;
    color: #abadb6;
    font-weight: 600;
    padding: 40px 0 14px 0;
}
.route-payment .footer-text.second{
    padding: 0px;
}
.route-payment .price-container{
    margin: 35px auto 49px;
    width: 87.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #292b3a;
    font-size: 45px;
}
.route-payment .price-container button{
    width: 29%;
    min-width: 86px;
    height: 87px;
    border-radius: 43px;
    font-size: 28px;
}
.route-payment .price-container .button-minus{
    background-color: #f9e3e8;
    color: #da4665;
}
.route-payment .price-container .button-plus{
    background-color: #e2faec;
    color: #3ddc80;

}

@media screen and (max-width: 580px){

    .route-payment .number-of-route{
        width: 50px;
        height: 50px;
        right: 42px;
        bottom: -19px;
    }
    .route-payment .shadowed-button{
        height: 90px;
        background-color: #fff;
        box-shadow: 5px 5px 12px 2px #d5d4d4;
        border-radius: 7px;
    }
    .route-payment .shadowed-button-title{
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0px;
        text-transform: lowercase;
        margin-bottom: 2px;
    }
    .route-payment .shadowed-button-text{
        font-size: 22px;
    }
    .route-payment .calculated-price{
        font-size: 30px;
        display: flex;
        padding-bottom: 10px;
    }
    .route-payment .price-container{
        margin: 15px auto 66px ;
    }
    .route-payment .price-container button{
        font-size: 22px;
    }
    .route-payment .footer-text{
        padding-top: 15px;
    }
}
@media screen and (max-width: 500px) {
    .route-payment footer
    {
        padding-bottom: 40px;
    }
    .route-payment .price-container button{
        font-size: 16px;
        height: 48px;
        min-width: 90px;
    }
    .route-payment .calculated-price{
        font-size: 20px;
    }
}
