
.search-driver{
    position: fixed;
    z-index: 10000;
    height: 100vh;
    width: 100vw;
}
.search-driver--close{
    display: none;
}

.search{
    color: #710fc9;
    letter-spacing: 2px;
    text-align: center;
    font-size: 32px;
    margin-top: 75px;
}
.load{
    text-align: center;
    margin: 100px 0;
}
.load img, .back img{
    width: 95px;
}
.back{
    text-align: center;
}