@charset "UTF-8";

@font-face {
    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Regular.ttf) format("truetype");
    font-weight: normal;
}

body{
    font-size: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

input {
    width: 100%;
    border: 1px solid #ced6eb;
    margin: 10px 0;
    padding: 15px 0;
    text-indent: 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}

a{
    text-decoration: none;
}