.waiting-for-taxi.container{

}
.waiting-for-taxi .calc-content.without-footer{
    background: url("../../../assets/img/background_map.png");
    /*display: flex;*/
    /*align-items: flex-end;*/
    /*padding-bottom: 30px;*/
}

.waiting-for-taxi .calc-content.without-footer.container-with-bg-map{
    position: relative;
    padding-top: 0;
}

.calc-content.without-footer.container-with-bg-map  .ordered-car-info{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    bottom: 15px;
}