.extra {
    transform: translateY(-100%);
    position: absolute;
    background-color: #fff;
    z-index: 3;
    top: 0;
    right: 0;
    transition: all .2s ease;
    font-size: 16px;
    width: 300px;
}

.extra-wrapp {
    padding: 30px;
    color: #fff;
    text-align: center;
    background-color: #710fc9;
}

.extra-inputs {
    margin-top: 30px;
    padding: 0 15px;
}

.extra-inputs label {
    position: relative;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

.extra-inputs input[type=checkbox] {
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.extra-inputs input {
    width: auto;
    text-indent: 0;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.extra-inputs input[type=checkbox]:after {
    font-size: 0;
    font-family: 'times new roman';
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -4px;
    margin-top: 5px;
    display: block;
    width: 18px;
    height: 18px;
    content: '';
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    text-align: center;
    color: #fff;
    border: 1px solid #ced6eb;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.extra-open{
    transform: translateY(0);
}

.extra-inputs input[type=checkbox]:checked:after {
    font-size: 16px;
    content: "\2714";
    color: #ffac00;
    border: none;
    font-size: 21px;
}

.extra img{
    max-width: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -14px;
}