.header-type-two{
    height: 60px;
    background: linear-gradient(to right, #854cb3, #657cf7);
    width: 100%;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 7px 18px #c2c2c2;
    z-index: 3;
}

.header-type-two button.header-burger-menu{
    display: inline-block;
    width: 35px;
    height: 30px;
    background: url("../../assets/img/burger-menu-bgr.png") no-repeat;
    margin: 0 0 0 30px;
}
.header-type-two .header__title{
    /*height: 40px;*/
    display: inline-block;
    padding: 0 0 0 63px;
    margin: 0;
    font-size: 42px;
    letter-spacing: 1px;
    position: relative;
    top: -9px;
    color: #fff;
}

@media screen and (max-width: 550px){
    .header-type-two .header__title{
        padding-left: 24px;
        font-size: 25px;
        top: -9px;
    }
    .header-type-two .header-type-two{
        padding-top: 47px;
    }
}
@media screen and (max-width: 375px){
    .header-type-two .header__title{
        font-size: 22px;
    }
}
