.header-type-two{
    height: 75px;
    background-image: -moz-linear-gradient( -170deg, rgb(100,126,249) 0%, rgb(133,75,178) 100%);
    background-image: -webkit-linear-gradient( -170deg, rgb(100,126,249) 0%, rgb(133,75,178) 100%);
    background-image: -ms-linear-gradient( -170deg, rgb(100,126,249) 0%, rgb(133,75,178) 100%);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    z-index: 3;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.header-type-two button.header-burger-menu{
    width: 29px;
    height: 24px;
    background: url("../../assets/img/burger-menu-bgr.png") no-repeat;
    margin: 0 0 0 30px;
}
.header-type-two .header__title{
    padding: 0 0 4px 29px;
    margin: 0;
    font-size: 29px;
    letter-spacing: 1px;
    color: #fff;
}

@media screen and (max-width: 600px){
    .header-type-two .header__title{
        padding-left: 24px;
        font-size: 27px;
    }
}
@media screen and (max-width: 500px){
    .header-type-two{
        height: 50px;
    }
    .header-type-two .header__title{
        padding-left: 24px;
        font-size: 22px;
        padding-bottom: 1px;
    }
    .header-type-two button.header-burger-menu{
        width: 27px;
        height: 27px;
        -webkit-background-size: contain;
        background-size: contain;
        margin: 10px 0 0 30px;
    }
}

