.address-select.container{
    flex-direction: column;
}
.address-select{
    max-height: 100%;
    width: 100%;
    background: url("../../../assets/img/background_map.png") no-repeat;
}

.address-select .address-wp{
    position: relative;
    height: calc(100vh - 120px);
}
