.car-item{
    padding: 20px;
    border-bottom: 1px solid #ececf4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-item .car-img{
    width: 65px;
}
.car-item .car-img img{
    width: 80%;
}

.car-descr{
    display: flex;
}

.car-item .car-descr .car-name{
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 100;
}

.car-item .car-descr .car-name p{
    font-weight: 900;
    margin: 7px 0;
    font-size: 16px;
}

.about-car img{
    width: 30px;
}