html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.load {
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    display: flex;
}

.load img{
    width: 100%;
}