
.driver-wrapper {
    padding: 20px 15px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    margin: 0 15px;
    margin-top: 10px; }
.run-line {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #ffac00;
    top: 0;
    left: 0;
    width: 75%;
    -webkit-transition: .4s all ease;
    -moz-transition: .4s all ease;
    -ms-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;}
.driver-wrapper .driver-info {
    -ms-align-items: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex; }
.driver-wrapper .driver-img {
    width: 30%; }
.driver-wrapper .driver-img img {
    width: 85%; }
.driver-wrapper .driver-name {
    text-align: left;
    font-size: 12px;}
.driver-wrapper .driver-name .fa {
    color: #ffac00;
    margin-right: 5px;
    font-size: 16px; }
.driver-wrapper .driver-name p {
    color: #710fc9;
    margin: 0;
    font-weight: 900;
    margin-bottom: 7px;}


.car-info{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: auto;
    align-items: center;
}

.flex-wrapp{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.car-info .car-name {
    text-align: right;
    font-size: 11px;
    width: 50%;
    color: #000;
    padding-right: 5px; }
.car-info .car-name p {
    margin: 0; }
.car-info .car-name img {
    width: 15%;
    margin-right: 10px; }
.car-info .kilometers {
    font-size: 11px;
    text-align: center;
    -ms-align-items: center;
    white-space: nowrap; }
.car-info .kilometers p {
    margin: 0;
    color: #710fc9;
    font-weight: 900;
    font-size: 14px; }
.car-info .price {
    float: right;
    margin: 0;
    color: #ffac00;
    font-weight: 900;
    padding-left: 7px;
    padding-right: 0;
    font-size: 27px; }



.driver {
    margin-bottom: 15px; }

.driver-wrapper .driver-buttons {
    margin-top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end; }
.driver-wrapper .driver-buttons button {
    color: #00b600;
    border: 1px solid #00b600;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 12px;
    background-color: transparent;
    display: inline-block; }