.ordered-car-info{
    width: 92%;
    background-color: #fff;
    border-radius: 14px;
    margin: 0 auto;
    padding: 36px 0;

}

@media screen and (max-width: 600px){
    .ordered-car-info{
        width: 95%;
        padding: 26px 0;
    }
}

.ordered-car-info__top-row{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.top-row__left-coll{
    width: 138px;
    text-align: center;
}
.top-row__left-coll img{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 500px){
    .top-row__left-coll{
        width: 22%;
    }
}
.year-of-manufacture{
    margin: 24px auto 0;
    width: 106px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    border: solid 2px #e1e1e5;
    border-radius: 6px;
    font-size: 20px;
    color: #abadb6;
}
@media screen and (max-width: 500px){
    .year-of-manufacture{
        width: 80px;
        font-size: 16px;
        padding-top: 7px;
    }
}
@media screen and (max-width: 400px){
    .year-of-manufacture{
        width: 70px;
        font-size: 15px;
    }
}

.top-row__right-coll{
    width: 68%;
    color: #292b3a;
    padding-left: 7px;
}
@media screen and (max-width: 500px){
    .top-row__right-coll{
        width: 68%;
    }
}

.model-color-flex-wrapper{
    display: flex;
    justify-content: space-between;
}

.right-coll__car-model{
    font-size: 38px;
    font-weight: 600;
    line-height: 35px;
}
@media screen and (max-width: 600px){
    .right-coll__car-model{
        font-size: 25px;
    }
}
.right-coll__car-color{
    /*margin: 24px auto 0;*/
    width: 106px;
    height: 40px;
    text-align: center;
    padding-top: 4px;
    border: solid 2px #e1e1e5;
    border-radius: 6px;
    font-size: 20px;
    color: #abadb6;
    margin-left: 8px;
}
@media screen and (max-width: 500px){
    .right-coll__car-color{
        font-size: 16px;
        width: 86px;
        padding-top: 6px;
    }
}

.right-coll__car-rating{
    margin: 16px 0 24px 0;
}
@media screen and (max-width: 600px){
    .right-coll__car-rating{
        margin: 8px 0 13px 0;
    }
}
.right-coll__car-rating .little-star{
    width: 22px;
    height: 20px;
    background: url("../../../assets/img/little_star.png");
    display: inline-block;
    margin-right: 6px;
}
.right-coll__car-rating .little-star.little-star-empty{
    background: url("../../../assets/img/little_star_empty.png");
}

.right-coll__car-point{
    display: inline-block;
    font-size: 22px;
    color: #868891;
    vertical-align: bottom;
    margin-left: 6px;
}

.arrival-time{
    font-size: 25px;
    height: 28px;
    padding-left: 40px;
    margin-bottom: 8px;
    line-height: 27px;
    background: url("../../../assets/img/clock.png") no-repeat;
}

.arrival-time span{
    font-weight: 600;
}
@media screen and (max-width: 550px){
    .arrival-time{
        font-size: 20px;
    }
}

.ordered-car-info__bottom-row{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 35px auto 0;
}
.ordered-car-info__bottom-row button{
    width: 47%;
    height: 72px;
    border-radius: 35px;
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}
@media screen and (max-width: 650px){
    .ordered-car-info__bottom-row button{
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 0;
    }
}
@media screen and (max-width: 500px){
    .ordered-car-info__bottom-row button{
        font-size: 16px;
        height: 45px;
    }
}
button.button-call{
    background: url("../../../assets/img/handset.png") no-repeat top 50% left 10%;
    background-color: #3ddc80;
    padding-left: 8%;
}
@media screen and (max-width: 430px){
    button.button-call{
        background: none;
        background-color: #3ddc80;
        padding-left: 0;
    }
}
button.button-cancel{
    background-color: #f9e3e8;
    color: #da4665;
}