.select{
    position: absolute;
    z-index: 100;
    width: 100%;
}

.select__options{
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    display: none;
}

.select__options--open{
    display: block;
}

input.select__input-field{
    display: block;
    width: 89%;
    height: 60px;
    border-radius: 45px;
    margin: 23px auto 0;
    padding-left: 3%;
    padding-right: 3%;
    border: none;
    font-size: 24px;
    color: #292b3a;
    box-shadow: 0px 5px 35px 0px rgba(0, 1, 2, 0.12);
}
@media screen and (max-width: 600px){
    input.select__input-field{
        font-size: 20px;
    }
}
@media screen and (max-width: 500px){
    input.select__input-field{
        height: 45px;
        font-weight: normal;
    }
}
@media screen and (max-width: 400px){
    input.select__input-field{
        font-size: 18px;
    }
}

.options__elements{
    font-size: 24px;
    font-weight: normal;
    display: table;
    width: 89%;
    background: url("../../../assets/img/select_loupe.png") no-repeat top 50% left 15px;
    background-color: #fff;
    background-size: 30px 30px;
    min-height: 55px;
    margin: 0 auto;
    border-bottom: solid 1px #e7e8ef;
    line-height: normal;
    padding: 15px 15px 15px 65px;
    box-shadow: 0px 5px 35px 0px rgba(0, 1, 2, 0.12);
}

.options__elements div{
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 600px){
    .options__elements{
        font-size: 20px;
    }
}

@media screen and (max-width: 500px){
    .options__elements{
        min-height: 55px;
        line-height: normal;
        font-weight: normal;
        background-size: 23px 23px;
        background-color: #fff;
        padding: 5px 5px 5px 55px;
    }
}
@media screen and (max-width: 400px){
    .options__elements{
        font-size: 18px;
    }
}
.options__elements:last-child{
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.options__elements:first-child{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.select .select__not-found{
    background-color: #fff;
    min-height: 55px;
    color:#babcc8;
    text-align: center;
    border-radius: 13px;
    width: 89%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 0 0px;
    line-height: 50px;
}



.select .select-favorite-point{
    font-size: 24px;
    font-weight: normal;
    display: table;
    width: 89%;
    background: url("../../../assets/img/select_star.png") no-repeat top 50% left 15px;
    background-color: #fff;
    background-size: 30px 30px;
    min-height: 55px;
    margin: 0 auto;
    border-bottom: solid 1px #e7e8ef;
    line-height: normal;
    padding: 15px 15px 15px 65px;
    -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 1, 2, 0.12);
    box-shadow: 0px 5px 35px 0px rgba(0, 1, 2, 0.12);
}

.select .favorite-point-address{
    font-size: 16px;
    color: #abadb6;
}
@media screen and (max-width: 600px) {
    .select .select-favorite-point{
        font-size: 20px;
    }
    .select .favorite-point-address{
        font-size: 15px;
    }
}