.taxi-ordering.container{
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.taxi-ordering .calc-content.without-footer{
    height: 100%;
    background-color: #f2f2f2;
    padding: 0 0 24px 0;
}