.map-marker{
    position: absolute;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-100%);
}

.map-marker img{
    width: 20px;
}

.map-container{
    background-color: rgb(229, 227, 223);
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}



.map-input{
    height: 45px;
    width: 100vw;
    font-size: 16px;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
}

.map-button{
    font-size: 18px;
    position: fixed;
    height: 45px;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: #710fc9;
    color: #ffffff;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-button--active{
    background-color: #710fc9;
}


.pay-type{
    font-size: 16px
}