.car-info{
    width: 92%;
    border-radius: 14px;
    background-color: #fff;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    padding: 36px 45px 36px 45px;
    box-shadow: 0px 5px 35px 0px rgba(0, 1, 2, 0.12);
}
@media screen and (max-width: 600px){
    .car-info{
        width: 95%;
        padding: 26px 20px;
        margin: 25px auto 0;
    }
}

.car-info .car-info__left-coll{
    width: 138px;
    text-align: center;
}
.car-info .car-info__left-coll img{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 500px){
    .car-info .car-info__left-coll{
        width: 22%;
        min-width: 70px;
    }
}
.car-info .year-of-manufacture{
    margin: 24px auto 0;
    width: 106px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    border: solid 2px #e1e1e5;
    border-radius: 6px;
    font-size: 20px;
}
@media screen and (max-width: 500px){
    .car-info .year-of-manufacture{
        width: 80px;
        font-size: 16px;
        padding-top: 7px;
    }
}
@media screen and (max-width: 400px){
    .car-info .year-of-manufacture{
        width: 70px;
        font-size: 15px;
    }
}

.car-info .car-info__right-coll{
    width: 65%;
    color: #292b3a;
}
@media screen and (max-width: 500px){
    .car-info .car-info__right-coll{
        width: 68%;
    }
}

.car-info .right-coll__car-model{
    font-size: 38px;
    font-weight: 600;
    line-height: 30px;
}
@media screen and (max-width: 600px){
    .car-info .right-coll__car-model{
        font-size: 25px;
        line-height: 20px;
    }
}
.car-info .right-coll__car-rating{
    margin: 22px 0 3px 0;
}
@media screen and (max-width: 600px){
    .car-info .right-coll__car-rating{
        margin: 1px 0 3px 0;
    }
}
.car-info .right-coll__car-rating img{
    margin-right: 6px;
}
@media screen and (max-width: 600px){
    .car-info .right-coll__car-rating img{
        width: 16px;
        height: 15px;
        margin-right: 3px;
    }
}
.car-info .right-coll__car-rating .little-star.little-star-empty{
    background: url("../../../assets/img/little_star_empty.png");
}

.car-info .right-coll__car-point{
    display: inline-block;
    font-size: 22px;
    color: #868891;
    vertical-align: bottom;
    margin-left: 6px;
}
.car-info .time-cost-flex-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}
@media screen and (max-width: 600px){
    .car-info .time-cost-flex-wrapper{
        display: block;
        margin: 0 0 0 0;
    }
}
.car-info .car-info__right-coll .time{
    font-size: 25px;
    letter-spacing: 1px;
    height: 28px;
    padding-left: 40px;
    margin-bottom: 8px;
    line-height: 27px;
    background: url("../../../assets/img/clock.png") no-repeat;
}
@media screen and (max-width: 600px){
    .car-info  .car-info__right-coll .time{
        margin-bottom: 3px;
    }
}
.car-info .right-coll__cost-trip{
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 1px;
}
@media screen and (max-width: 600px){
    .car-info .right-coll__cost-trip{
        font-size: 33px;
        bottom: 90px;
    }
}

.car-info button.accept-btn{
    border: none;
    height: 67px;
    width: 100%;
    border-radius: 35px;
    background-color: #7664ca;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.car-info button.accept-btn span{
    display: inline-block;
    width: 32px;
    height: 24px;
    background: url("../../../assets/img/button_mark.png") no-repeat;
    margin: 0 10px 0 0;
}

@media screen and (max-width: 600px) {
    .car-info button.accept-btn{
        height: 47px;
        font-size: 19px;
        padding: 0 0 5px 0;
    }

    .car-info button.accept-btn span{
        background-position: top 7px left;
        background-size: 24px 18px;
        margin: 0 1px 0 0;
    }
}